.skills{
    height: 435px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* items */

.container-s{
 width: 84%;
    margin: 0 auto;
}
.skills-container{  
   display: flex;   
   flex-wrap: wrap;
   align-content: center;
    justify-content: space-between;
}

.skills-items{
    width: 15%;
    border: 1px solid #008080;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    
}

.skills-nombre{
    font-weight: 700;
    padding-left: 10px;
}
