body {
    background-color: #f5f5f5;
    font-family: "Raleway", Helvetica, sans-serif;
}

.boton {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
    padding: 0.5em 0em;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: #008080;
}
.boton:hover {
    background-color: rgba(0, 128, 128, 0.6);
}

.principalTitulo {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
}

.container {
    width: 84%;
    margin: 0px auto;
    padding: 40px;
}

.seccion {
    padding: 6em 0;
}

.titulo {
    margin-bottom: 30px;
}

@media screen and (max-width: 560px) {
    .container {
        padding: 40px 20px;
    }
}
